<!-- instantsearch -->
<link rel="stylesheet" href="<%= @items['/assets/stylesheets/instantsearch.*'].path %>">
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/instantsearch.css@7.4.4/themes/algolia-min.css">
<script src="https://cdn.jsdelivr.net/npm/algoliasearch@4.4.0/dist/algoliasearch-lite.umd.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@tnir/instantsearch.js@4.7.1-q/dist/instantsearch.production.min.js"></script>
<!-- end of instantsearch -->
